<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="fr.jussieu.pps.keditor.ui.editor.KappaEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="ka"
            icon="images/kappaeditor.png"
            id="fr.jussieu.pps.keditor"
            name="Kappa Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="fr.jussieu.pps.keditor.ui.editor.KappaDocumentSetupParticipant"
            extensions="ka">
      </participant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="fr.jussieu.pps.keditor.ui.preferences.KappaMainPreferencePage"
            id="fr.jussieu.pps.keditor.ui.KappaMainPreferencePage"
            name="Kappa">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="fr.jussieu.pps.keditor.workbenchActionSet"
            label="Kappa Editor ActionSet"
            visible="true">
         <action
               class="fr.jussieu.pps.keditor.actions.compile"
               icon="images/refresh.png"
               id="fr.jussieu.pps.keditor.CompileButton"
               label="Simulate"
               menubarPath="fr.jussieu.pps.keditor.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Compile !">
         </action>
         <menu
               id="fr.jussieu.pps.keditor.workBenchMenu"
               label="Simulate Time"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="fr.jussieu.pps.keditor.actions.InfluenceMap"
               icon="images/influencemap.png"
               id="fr.jussieu.pps.keditor.IMapButton"
               label="Influence Map"
               menubarPath="fr.jussieu.pps.keditor.menu1/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="Get the Influence Map">
         </action>
         <menu
               id="fr.jussieu.pps.keditor.menu1"
               label="Influence Map"
               path="additions">
            <separator
                  name="fr.jussieu.pps.keditor.separator1">
            </separator>
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="fr.jussieu.pps.keditor"
            name="Map Category">
      </category>
      <view
            category="fr.jussieu.pps.keditor"
            class="fr.jussieu.pps.keditor.views.InfluenceMapView"
            icon="images/influencemap.png"
            id="fr.jussieu.pps.keditor.views.InfluenceMapView"
            name="Influence Map View">
      </view>
      <view
            class="fr.jussieu.pps.keditor.views.MultipleSimulationView"
            icon="images/story.png"
            id="fr.jussieu.pps.keditor.kappaview"
            name="The Kappa View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="fr.jussieu.pps.keditor.views.InfluenceMapView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="fr.jussieu.pps.keditor.views.InfluenceMapView.pushbutton"
            targetID="fr.jussieu.pps.keditor.views.InfluenceMapView">
         <action
               class="fr.jussieu.pps.keditor.actions.PushActionDelegate"
               enablesFor="*"
               icon="icons/Rotate16.gif"
               id="toolbar.rotate"
               label="Rotate"
               toolbarPath="push_group">
         </action>
         <action
               class="fr.jussieu.pps.keditor.actions.PushActionDelegate"
               enablesFor="*"
               icon="icons/Fit16.gif"
               id="toolbar.fit"
               label="FitWindow"
               toolbarPath="push_group">
         </action>
         <action
               class="fr.jussieu.pps.keditor.actions.PushActionDelegate"
               enablesFor="*"
               icon="icons/Original16.gif"
               id="toolbar.original"
               label="OriginalSize"
               toolbarPath="push_group">
         </action>
         <action
               class="fr.jussieu.pps.keditor.actions.PushActionDelegate"
               enablesFor="*"
               icon="icons/ZoomIn16.gif"
               id="toolbar.zoomin"
               label="ZoomIn"
               toolbarPath="push_group">
         </action>
         <action
               class="fr.jussieu.pps.keditor.actions.PushActionDelegate"
               enablesFor="*"
               icon="icons/ZoomOut16.gif"
               id="toolbar.zoomout"
               label="ZoomOut"
               toolbarPath="push_group">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="fr.jussieu.pps.keditor.ui.perspectives.PerspectiveFactory"
            icon="images/exporttocellucidate.png"
            id="fr.jussieu.pps.keditor.KappaPerspective"
            name="Kappa Perspective">
      </perspective>
   </extension>

</plugin>
